@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    max-width: 90rem;

    margin: auto;
}

.card {
    @apply relative overflow-hidden;
    transition: transform 0.1s;
}

.card:hover {
    @apply translate-y-2 translate-x-2;
    
}

